<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>{{ title }}</title>
</head>
<body class="bg-slate-100">
<header class="py-10">
    <h1 class="text-3xl font-bold text-center">
        Hello world!
    </h1>
</header>
<section class="flex justify-center w-4/5 mx-auto">
    <form id="search_form" action="/search"
          class="flex flex-col p-8 items-start container border rounded border-gray-500">
        <div class="mb-4">
            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                   id="search_inpupt" type="search" placeholder="keyword" name="q"
            value="{{ keyword }}">
        </div>
        <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-3 px-6 rounded">
            검색
        </button>
    </form>
</section>
<main class="w-full p-10">
    {{ keyword }}
</main>
</body>
</html>